.projects {
  max-width: 1200px;
  margin: auto;
}

.project-item {
  display: block;
  margin-bottom: 120px;
  text-decoration: none;
  color: black;
}

.project-item img {
  width: 100%;
  display: block;
}

.project-info {
  margin-top: 20px;
}

.project-info h2 {
  font-size: 22px;
  font-weight: 500;
}

.project-info p {
  color: #777;
  font-size: 14px;
}
